# Please fill in the following variables for the application to work correctly.
# You can either use a Google Cloud Service Account or a Gemini API Key for authentication.
# The application will first check for a Service Account, and if not found, will use the Gemini API Key.

# --- Google Cloud Platform---
# To use a Service Account, provide the path to your JSON credentials file.
# Leave this empty if you want to use the Gemini API Key instead.
SERVICE_ACCOUNT_FILE_PATH="/path_to_your_service_account_vertexai.json"

# --- Gemini API ---
# If you are not using a Service Account, you must provide a Gemini API Key.
GEMINI_API_KEY="your_gemini_api_key"


# --- Qdrant Vector Store ---
# These are the credentials for your Qdrant instance.
QDRANT_API_KEY="your_qdrant_api_key"
QDRANT_URL="your_qdrant_url"

