langchain
langchain-core
langchain-google-vertexai
langchain-google-genai
langchain-text-splitters
langchain-unstructured
langchain-qdrant

fastapi
uvicorn
python-dotenv
requests 
beautifulsoup4 
pandas 
lxml
notebook
pydantic_settings
tabulate